
# ignore everything
*


# exclude
!.gitignore

# source code
!*.md
!*.c
!*.h
!CMakeLists.txt

!main/
!test/
!components/
!components/gnss/
!components/display/
!components/util/

!components/util/test/
